{% extends 'master.html' %}

{% block body %}
<div class="container">
  <div class="col-sm-12">
    <div class="titlepage">
    <h2>Password has been changed</h2>
    <p>You may go ahead and login now</p>
    </div>
    <a href="{% url 'login' %}">
    <button type="submit" class="login-btn">Log In</button>
</a>

  </div>
</div>
<style>
  .login-btn {
    height: 55px;
    width: 100%;
    color: #fff;
    font-size: 1rem;
    font-weight: 400;
    margin: 30px 20px 20px 20px;
    border: 2px solid #ddd;
    cursor: pointer;
    transition: all 0.2s ease;
    background: #183661;
    display: block;
    text-align: center;
    border-radius: 40px;
  }

  .login-btn:hover {
    background: #f2c119;
    }
 </style>
{% endblock %}
